<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InstallationPointManagerSoapBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint name="DEV" address="https://host:22108/mangows/InstallationPointManager" binding="basicHttpBinding" bindingConfiguration="InstallationPointManagerSoapBinding" contract="mangows.IInstallationPointManager" />
          <endpoint name="TST" address="https://host:26108/mangows/InstallationPointManager" binding="basicHttpBinding" bindingConfiguration="InstallationPointManagerSoapBinding" contract="mangows.IInstallationPointManager" />
          <endpoint name="EDU" address="https://host:21108/mangows/InstallationPointManager" binding="basicHttpBinding" bindingConfiguration="InstallationPointManagerSoapBinding" contract="mangows.IInstallationPointManager" />
          <endpoint name="PRD" address="https://name:25108/mangows/InstallationPointManager" binding="basicHttpBinding" bindingConfiguration="InstallationPointManagerSoapBinding" contract="mangows.IInstallationPointManager" />
        </client>
    </system.serviceModel>
</configuration>
